<div class="ac-shows">
  <div class="opacity-layer"></div>
  <div class="row show-presentation">
    <div class="col">
      <h1>{{tvShow.Title}}</h1>
      <div class="show-info">
        <p *ngFor="let genero of tvShow.Genres">{{genero.Title}}</p>
        <span>/</span>
        <p>{{tvShow.Year}}</p>
      </div>
    </div>
    <div class="col-4">
      <app-seasons></app-seasons>
    </div>
  </div>
  
  <div class="row">
    <div class="col show-details">
      <div>
        <app-show-details #show [show]="tvShow"></app-show-details>
      </div>
    </div>
  </div>

</div>

